<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button class="backbtn" routerLink="/welcome" routerDirection="back">
                <ion-icon name="arrow-back-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Verificación de cuenta</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="user$ | async as user">
    <ion-row>
        <ion-col>
            <h2>Gracias por registrarte</h2>
            <p>Hemos enviado un correo a <strong>{{user.email}}</strong> para la confirmación</p>
            <p>Por favor verifica tu correo</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <div class="button-container">
                <ion-button (clic)="onSendEmail()" expand="block" class="main-button">Reenviar Correo</ion-button>
                <ion-button expand="block" class="main-button" routerLink="/login">Iniciar Sesión</ion-button>
            </div>
        </ion-col>
    </ion-row>
</ion-content>