<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button class="backbtn" routerLink="/welcome" routerDirection="back">
                <ion-icon name="arrow-back-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Verificación de cuenta</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="user$ | async as user">
    <ion-row>
        <ion-col>
            <h2 class="ion-text-center">Gracias por registrarte</h2>
            <p class="ion-text-center">Hemos enviado un correo a <strong>{{user.email}}</strong> para la confirmación</p>
            <p class="ion-text-center">Por favor verifica tu correo</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <div class="button-container">
                <ion-button (clic)="onSendEmail()" expand="block" class="main-button">Reenviar Correo</ion-button>
                <p class="ion-text-center"><a routerLink="/login">Iniciar Sesión</a></p>
            </div>
        </ion-col>
    </ion-row>
</ion-content>