<ion-header>
    <ion-toolbar>
        <ion-title>Verificación de correo electrónico</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="user$ | async as user">
    <ion-row>
        <ion-col>
            <h2>Gracias por registrarte</h2>
            <p>Hemos enviado un correo a <strong>{{user.email}}</strong> para la confirmación</p>
            <p>Por favor verifica tu correo</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-button type="submit" (clic)="onSendEmail()" expand="block">Reenviar Correo</ion-button>
        </ion-col>
    </ion-row>
</ion-content>