<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button class="backbtn" routerLink="/home" routerDirection="back">
                <ion-icon name="arrow-back-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Acerca de</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img class="img-navbar" src="https://res.cloudinary.com/ista-tradizone-app-20/image/upload/v1618963178/TradiZone/LogoNavBarGif_d70sqq.gif" />

        <h1>A cerca de TradiZone</h1>
        <h2>Autores:</h2>
        <p>
            Este proyecto fue desarrollado por Angel Lucero, Freddy Pacheco y Eduardo Mendieta, estudiantes del la carrera Tecnología Superior en Desarrollo de Sotware del Instituto Superior Tecnológico del azuay como proyecto Final de la materia Tendencias Actuales
            de Programación curo docente es el Ing. Pablo Quezada, MSc.
        </p>

        <h2>Tradizone:</h2>
        <p>
            Tradizone es plataforma pensada para que pequeños negocios de comida tradicional, turistas y personas que se encuentren ciudad de Cuenca con el objetivo de que puedan hacer uso de las herramientas de software facilitadas por la app para dar a conocer
            sus restaurantes, acceder a un amplo catalogo de "Huecas cuencanas", descubrir nuevos platillos y conocer la historia de la gastronomia cuencana y eventos que se realizan en la ciudad.
        </p>

        <h2>Contactos:</h2>
        <p>
            Para conocer mas sobre esta iniciativa puede contactar con el Desarrollador Angel Lucero, lider del proyecto Tradizone. <br>
            <b>Telf: </b> 4104567, 0987362534
        </p>
    </ion-card>
</ion-content>