ion-card {
    margin: 10px;
    border: 0;
    padding: 0;
    min-height: 97%;
    position: relative;
}

.title {
    text-align: center;
}

img {
    width: 100%;
}

ion-card-subtitle {
    font-size: 110%;
}