<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button class="backbtn" routerLink="/home" routerDirection="back">
                <ion-icon name="arrow-back-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Detalles</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img src="https://res.cloudinary.com/ista-tradizone-app-20/image/upload/v1618628905/TradiZone/food/CuyPapas_al3jzz.jpg">
        <ion-card-header>
            <ion-card-title class="title">{{food_name}}</ion-card-title><br>
            <ion-label>{{food_desc}}</ion-label><br>
            <ion-card-title>${{food_cost}}</ion-card-title>
        </ion-card-header>
        <ion-tabs>
            <ion-tab-bar slot="bottom" color="primary">
                <ion-tab-button (click)="goFood()">
                    <ion-icon name="restaurant"></ion-icon>
                    <ion-label>{{food_restaurant}}</ion-label>
                </ion-tab-button>
                <ion-tab-button (click)="call()">
                    <ion-icon name="call"></ion-icon>
                    <ion-label>Contactar</ion-label>
                </ion-tab-button>
                <ion-tab-button href="https://goo.gl/maps/QYsvJZ73jtbck7rf9" target="_blanck">
                    <ion-icon name="map"></ion-icon>
                    <ion-label>Visitar</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-card>

</ion-content>