ion-card {
    margin: 0;
    border: 0;
    padding: 0;
    min-height: 50vh;
    background-color: white;
    position: relative;
    top: -25px;
}

ion-card-title {
    text-align: center;
    color: black;
}