<ion-content>
    <div class="container">
        <br><br><br><br>
        <img src="https://lh3.googleusercontent.com/ZZVoOaIoPqOpF2svLfhTFP4MIP9HcHhbXgH1KZ2QScFeBiyHKQh6a8O8wk2xYgMzB4RZqkGWXTKxt_iSIP3HhsjGyRtJ77OW92oUoWzrqCe4LDR6jvs6J4jQOpwx2N8wRXkQnFrTtMtkqV5FAkumn-2DcCH7jCVDajBv3bIetmjeLy0b5bxswJQsRULibKRDpaU8LcL_mMTiEHyNQ_VHBw0QW_cQqFFD_PgpG8mjJ2eSyN49P_t7XzDRjNPX4XW6ERKS7-frzk1t_b8ib_ufDhH-qhITWI3nKdTyqvBFV-G8Bwa92EhDyQaDL2PRY0qU118nrsiaKbbUjCowlT6jb5SjaqIixkgsNZsJKDm13HMPBlKeOw_M37VzmEyDr5OdZONkEmQAM2qfc-iBx_7zIcBVoSGKoy3BB2tCW1JWEbBtpB030_84yknVK88NOCH_x5pXRmuk53RFB5yU_0bm4WE9ZAF_c1sm8r7W1dlX4kL8eG-tVwdByWB5Spi4ci7AM1lOvX7n5qUg7i6fXyaLHeQx3Qk1Z_r4q0s7O9tW-RbeUdjORBr1fbQ5WExnxOsnwyDRcHTHACaijwvC3RV6SZwMTn5gCXf17NqyFKT9cpjd_hofVhgmyxtNgYuU8jOpKHklQJAitMuZfAhIbHFneto7fubrSNKIZ6G2nXrwOOmnhBkzo0zrm6OQ8Mtv_xQTpPxAYRpwkoKdoVj25gW7mB8=s500-no?authuser=0"
        />
        <div class="button-container">
            <ion-button expand="block" class="main-button" routerLink="/login">Iniciar Sesión</ion-button>
            <ion-button expand="block" class="main-button" color="dark" routerLink="/register">Registrarme</ion-button>
        </div>
    </div>
</ion-content>