<ion-content>
    <div class="container">
        <br><br><br><br>
        <img src="https://res.cloudinary.com/ista-tradizone-app-20/image/upload/v1618619391/TradiZone/TradiZone_-_LogoGif_xk67zo.gif" />
        <div class="button-container">
            <ion-button expand="block" class="main-button" routerLink="/login">Iniciar Sesión</ion-button>
            <ion-button expand="block" class="main-button" color="dark" routerLink="/register">Registrarme</ion-button>
        </div>
    </div>
</ion-content>