div {
    background-color: #FFFFFF;
}

.container {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.page-header h1 {
    margin-top: 0;
}