<ion-content class="ion-padding ion-text-center">
    <div class="container">
        <div class="page-header">
            <h1>Bienvenido a TradiZone</h1>
            <h3>Disfruta de la mejor comida de la ciudad</h3>
        </div>
        <img src="../../assets/icon/TradiZone.gif" />
        <div class="button-container">
            <ion-button expand="block" class="main-button" routerLink="/login">Iniciar Sesión</ion-button>
            <ion-button expand="block" color="dark" fill="clear">Registrarme</ion-button>
        </div>
    </div>
</ion-content>