<ion-app>
    <ion-menu side="start" content-id="main-content">
        <ion-header>
            <ion-toolbar translucent color="primary">
                <ion-title>TradiZone</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item>
                    <ion-icon name="person" slot="start"></ion-icon>
                    <ion-label>{{user}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="book" slot="start"></ion-icon>
                    <ion-label>Historia</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="calendar" slot="start"></ion-icon>
                    <ion-label>Eventos</ion-label>
                </ion-item>
                <ion-item routerLink="/restaurant">
                    <ion-icon name="restaurant" slot="start"></ion-icon>
                    <ion-label>Restaurantes</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="fast-food" slot="start"></ion-icon>
                    <ion-label>Comida</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="beer" slot="start"></ion-icon>
                    <ion-label>Bebidas</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="reader" slot="start"></ion-icon>
                    <ion-label>Recetas</ion-label>
                </ion-item>
                <ion-tabs>
                    <ion-tab-bar slot="bottom">
                        <ion-tab-button>
                            <ion-icon name="mail"></ion-icon>
                            <ion-label>Contáctanos</ion-label>
                        </ion-tab-button>
                        <ion-tab-button>
                            <ion-icon name="help-circle"></ion-icon>
                            <ion-label>Preguntas frecuentes</ion-label>
                        </ion-tab-button>
                    </ion-tab-bar>
                </ion-tabs>

            </ion-list>
        </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>
                <ion-title>TradiZone</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content>
            <div class="title ion-padding">
                <h2>Categories</h2>
                <p>See all</p>
            </div>
            <!--
            <div class="category-slider ion-padding-start">
                <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
                    <ion-slide *ngFor="let category of categories">
                        <ion-col>
                            <h4>{{ category.name }}</h4>
                            <img src="{{ category.image }}" />
                        </ion-col>
                    </ion-slide>
                </ion-slides>
            </div>
            -->
            <div class="category-slider ion-padding-start">
                <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
                    <ion-slide>
                        <ion-col>
                            <h4>Comida</h4>
                            <img src="../../assets/icon/images/food1.jpg" />
                        </ion-col>
                    </ion-slide>
                    <ion-slide>
                        <ion-col>
                            <h4>Bebidas</h4>
                            <img src="../../assets/icon/images/food2.jpg" />
                        </ion-col>
                    </ion-slide>
                    <ion-slide>
                        <ion-col>
                            <h4>Postres</h4>
                            <img src="../../assets/icon/images/food1.jpg" />
                        </ion-col>
                    </ion-slide>
                    <ion-slide>
                        <ion-col>
                            <h4>Recetas</h4>
                            <img src="../../assets/icon/images/food2.jpg" />
                        </ion-col>
                    </ion-slide>
                </ion-slides>
            </div>

            <div class="title ion-padding">
                <h2 class="font-bold">Comida</h2>
                <p>See all</p>
            </div>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-card>
                            <img src="https://drive.google.com/file/d/1mLygYUFgA1tjypXfntB5aczVctwNcd2K" routerLink="/food">
                            <ion-card-header>
                                <ion-card-title routerLink="/food">{{nombrePlatillo}}</ion-card-title>
                                <ion-label routerLink="/restaurant">{{restaurante}}</ion-label>
                                <ion-card-title routerLink="/food">{{precio}}</ion-card-title>
                            </ion-card-header>
                        </ion-card>
                    </ion-col>
                    <ion-col>
                        <ion-card>
                            <img src="../../assets/icon/images/food2.jpg" routerLink="/food" />
                            <ion-card-header>
                                <ion-card-title routerLink="/food">{{nombrePlatillo}}</ion-card-title>
                                <ion-label routerLink="/restaurant">{{restaurante}}</ion-label>
                                <ion-card-title routerLink="/food">{{precio}}</ion-card-title>
                            </ion-card-header>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-content>
    </div>
</ion-app>