<ion-app>
    <ion-menu side="start" content-id="main-content">
        <ion-header>
            <ion-toolbar translucent color="primary">
                <ion-title>TradiZone</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item>
                    <ion-icon name="person" slot="start"></ion-icon>
                    <ion-label>{{user}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="book" slot="start"></ion-icon>
                    <ion-label>Historia</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="calendar" slot="start"></ion-icon>
                    <ion-label>Eventos</ion-label>
                </ion-item>
                <ion-item routerLink="/restaurant">
                    <ion-icon name="restaurant" slot="start"></ion-icon>
                    <ion-label>Restaurantes</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="fast-food" slot="start"></ion-icon>
                    <ion-label>Comida</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="beer" slot="start"></ion-icon>
                    <ion-label>Bebidas</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="reader" slot="start"></ion-icon>
                    <ion-label>Recetas</ion-label>
                </ion-item>
                <ion-tabs>
                    <ion-tab-bar slot="bottom">
                        <ion-tab-button>
                            <ion-icon name="mail"></ion-icon>
                            <ion-label>Contáctanos</ion-label>
                        </ion-tab-button>
                        <ion-tab-button>
                            <ion-icon name="help-circle"></ion-icon>
                            <ion-label>Preguntas frecuentes</ion-label>
                        </ion-tab-button>
                    </ion-tab-bar>
                </ion-tabs>

            </ion-list>
        </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>
                <ion-title>TradiZone</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content>
            <div class="title ion-padding">
                <h2>Categories</h2>
                <p>See all</p>
            </div>
            <!--
            <div class="category-slider ion-padding-start">
                <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
                    <ion-slide *ngFor="let category of categories">
                        <ion-col>
                            <h4>{{ category.name }}</h4>
                            <img src="{{ category.image }}" />
                        </ion-col>
                    </ion-slide>
                </ion-slides>
            </div>
            -->
            <div class="category-slider ion-padding-start">
                <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
                    <ion-slide>
                        <ion-col>
                            <h4>Comida</h4>
                            <img src="https://lh3.googleusercontent.com/PAMPMS65E71NjK4V5DEhQo-E9RyFiniAoha322ZIFn7og3KwEg8_sepxJTlDyN0rP1r8Xv1zFX1VI-lfSm1IqhOErMBleFDuGHoMuZGmc9V3Pslk2WYlGArj8d0DePXs6Ue2j-h6v6U7-KgRRlacIae_euEYgHkNGthPMEpvBe0iIh4M7pe0Eh_XFZrQqUKjhgkDKMjcWxmJzZ0WdCcKx7KPuD0CPze5tNwabxOqSaHswS5SDp5w8AikcgIlQRPGG5FnWIH11jSJJxqxXfJmZ5OBCN06HKKmlVD5T9fNzGcxbtZ8ptMB41BC2nF8kRwa1svCy6MbPD8ft8VyLm_GfIgqYcVWCdhNOzE2E_VWRDQxoWHMdT866hugTJWe7OEzohqay-xl2URPWAAliaepvqTcies8xBRY0r99OwwfapoUhSCF0RceVdbV2QARX9qdMfNHsqsnL-d_fdFdi8VjnpJwL9scfGoyhlIMynbeC3es23b96whad85g9JH-3J4G6cjhTTBoVx7OWbduhigo-4s640tBximCigO0y3CfEg2qOs8Py8326dI_2vZ4dls3aH4Sq-HewrCpJsUjTzz53jaHDzO-HxTOcpJtd0yyNknHwBKbYegGIllOUwBQTMF0Jzo_MAAyyx10Rgr3UFVY0rW0bofzA75T0Gxl2XEo4l0dYYuIQFZwIB2YQdKr7TZCZPt6C7OZInMojmKd0iQ_jBM=s500-no?authuser=0"
                            />
                        </ion-col>
                    </ion-slide>
                    <ion-slide>
                        <ion-col>
                            <h4>Bebidas</h4>
                            <img src="https://lh3.googleusercontent.com/yv8n7twqBdSUqvU57embRL0kFhJQdpkvwKeTM8rkdZ-hcTixsEJexs76V8mlUtOmRF-aBovGUhd7WBXa7NrljYmAqzlFIbSnxEZ6dsmnSLGhVKeJ6u8j_mr52T4CJCzdY1r1Bbp1HepOgNla5sbcbrFIHUVHxFKtI184HPtGnKsLFV1xst_8taW2Ad7IMJRUWTcMultzGgJ5uSCo2tB0QVfRyNqxW8kdpGOPMGgfZCPHhK7XjCVTypLPSi32fSKe94l7yzkIxpL_W3EnTNMU5iwzOAkwsttJq8cx-jlqLsB5s1hpp3x8ZMJLf5H1kEeZh9iarvOk7AvTXQTGpg8dPx_6MeN-sQbvDWgVcCfDxpfNmi_znsabZ9xSy6lNXvOIy5d7QbxPR4GjLTmhcoqMJpaqts9qUVZIQM1m4Pnotr0diVGJdE7qrMB3FEc2f6ehq-QEJklo9XehALVftgSa2Y4zzhk3n9rqeBpX8f9afKCnNvir3Ji3Yb4pLcRPJjca3hlu7y4aEyqkjgua5xXb5wJw71sUVlKrIizgxy0_WAFofdV4Zf01RJnLRPdbas3PGTVQdZ7tjjBSSe_zXIwsoWTT0hMzpJkI_l_gLPfEddHxeZi2aJgIfuqr_WzUXXaXN2SMiV2rRKFVr3IwMjaEGUDIg9tWne21w8__yMEF94JfCJ940q-PHWTvETWmul5DaIjsLyvc-RZuR6B8G4lw4X4=s301-no?authuser=0"
                            />
                        </ion-col>
                    </ion-slide>
                    <ion-slide>
                        <ion-col>
                            <h4>Postres</h4>
                            <img src="https://lh3.googleusercontent.com/xHr-pa_IEmDUYgWqZxPehnQKnZSvSec8Hnf0yz1cQ20CYqFTNqd8pY7mzxwFti-izruTFtntjbHeSBMhgy0w19FWoSfqf76P9MwK8McRMGeX6P7QKlnMfboVvskXfSrg4O6eV8Vpq3MhsI7BUMNbHVRq2f0OI_i0wr1xkQmiJLFcwXKb3_coJosqGCuD_fZ8mahxq26w85Tei6xjypmRJOURLqFLex-K8iyYpBgBrFsu8WF1zNU8HHiZN2_oEJ20oOaT9m143jScVgvYR2cJ_h6kLryCshgH9gkTw-UgP5L2DDdIx8gaEdnDSBX7NuzZEByx7RkdxIzI6YnkSb2dpKDIy01rCmFjysqX3N8UFYMLVIA4dTbvS0sRhtJ5cExOXXwkD3gaNpn0A5wjvjs6TkRyNIv3NZ2QD3hk2RZ4WfjcjkyFntppu1R0oHYkzerBoeFbUHUh4RrRKLsGwQdE4vBlPl5LAqF_qblt_GBS92O510jaqNNLr7hjDLJHTL1I_KBOC-8qfKk8NpwMiiwNOIQYyuTdCTvtByv7ya77-zqZG2CgbsBDaYFQ7aosL5yOz0spcPCutPZxDbWjijRlpr5gKCtSlfIjOYG75DpdF68uoxp3HaOEV1oNdpXoRLBOu-jbdJOr0PmHamEoaoNnJ3r2h2xEnrKWFG8cBMHaNaB4uVc3Wd2f3Th_3rlBYkPuftYBRr33bpksHYbaXKnEF8g=s249-no?authuser=0"
                            />
                        </ion-col>
                    </ion-slide>
                    <ion-slide>
                        <ion-col>
                            <h4>Recetas</h4>
                            <img src="https://lh3.googleusercontent.com/tBz9kiTlc1caG8yXvO83ZXQzGBDFiahNC9-jOgDZueTx4PFrQhCEX4AdzGEX2nZrnHE64c1VPRtMtH5V63Gn3Y1cD1boivXC6sgvxv4ZAq75EAAFn2GHfkPCJ9GoALdc8Y7DI3P3TinrU7COXWdPkj_YRQhgJZF0viSOIgMdcW8s_IdbmbaUtzwP22erP_u1CdZZ_vnf5ri9S2iffRtxlOOPbP9MsZEXKS6ifkiLPokYWikTBTwSx3aknRWUJPZOrygodYj9YNoI_0hVVbmCI4dbw3XtmxKgYvS4QiYXCIOgb_kdqPzIgV2pH68Puf3hJCKszNSKPcKjxoeRq6VmjUgUfxil5bV46HoPrIN8-Sq0gaAlbjuUQSYbqJ-3lSUHvToFx-EjijtdyslxZVi2M2GIKph7_TAr7DI0QXc-uNcJh6BP80vZv5DMcMI3p_DLIG5EpnhSsIJ_dlWsVoRtsPYajlYRBaejEpAgEu0oSVJCnBetUtgEgftboM_R-Qaz3oiDLfZdygAk71frkYzKfAZvv_s6Sd6YntmH-ziTt-1F2zx0RDCrUH0hHD9QVAZcl3VmuHqswj_dmVctGU042b3dTyZQdR9TtBe6EImRA4e_RbEpHlJ8JPFQZdRB9zUQVOj3UXi1MEJ7BP7Rdnam_UkjMJajqDA6vcrbQgW4AdWPRXyN8kVWKGz35WhKpz-Cuqrof1QGfM2vlzN5JfMV3T0=s500-no?authuser=0"
                            />
                        </ion-col>
                    </ion-slide>
                </ion-slides>
            </div>

            <div class="title ion-padding">
                <h2 class="font-bold">Comida</h2>
                <p>See all</p>
            </div>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-card>
                            <img src="https://lh3.googleusercontent.com/EN1db7_cq9KZX4HhsrZqR82pT-Je9brtFtfS1z5Wu0aUntkxqV1jXbOYfVELw321KPIvmzMkZvgcmY85UvkfPYv7VH7XXV9c-ymQHkrZ0Yxgc3AZghzs-WPY4denyRAm_nyXtlfOPB2itEg8K-MfelKq3nbCEutRgEH7hDvAqYdPBgsjLXUlcDHkqC0gODDW1t1n8-DJckai9VY4lC2c4g30gaJMrrdnz7hOr8F17395w7SFLm00ZCVfOBHJkvdINO5e9FP9RU7qAq1Lfha8kFZwQusC0P-AXVxw0hECfGPUc_UspZpsZomRiUk9wlLAkdyf5EbTsUOvyx0HR-5n_4MZh_7p6xo4UNZVJMpIw6i_2MHo4RS3YLAi3FbeLzhrBYLcZZX7rQ8OGaMb3H0FzarP02gx_a5hW7_OVxt9-qx6PhfvSgIZZN4Mh-weqVsEkqWaajbitH0JS3XxixIeI2UI8u21zABkDnXbLtjY6KpmItTSS44OE9zMyaFzY7YS2qSykFyNR-deR8kfqcZYZa6bH7ncoCxGwd4fBIFwfcW3O4ULCL5m7-R0tVcgeuWUW3oUUZw99XRVrn5o5T5URuLle-TvFKPUi7Zle4ptuBxj_rPbzcFzPnQDZYfUNbLdJo4YpuaKseob4aav7C_uTr9nKZbfI-13olBbp0DJAnlZ2XjGfIbbinAr1FxSq6bz3IzF9XyFfobl7sBjEtFUJw=s351-no?authuser=0"
                                routerLink="/food">
                            <ion-card-header>
                                <ion-card-title routerLink="/food">{{nombrePlatillo}}</ion-card-title>
                                <ion-label routerLink="/restaurant">{{restaurante}}</ion-label>
                                <ion-card-title routerLink="/food">{{precio}}</ion-card-title>
                            </ion-card-header>
                        </ion-card>
                    </ion-col>
                    <ion-col>
                        <ion-card>
                            <img src="https://photos.app.goo.gl/ACsM1fYc5LpopBju5" routerLink="/food" />
                            <ion-card-header>
                                <ion-card-title routerLink="/food">{{nombrePlatillo}}</ion-card-title>
                                <ion-label routerLink="/restaurant">{{restaurante}}</ion-label>
                                <ion-card-title routerLink="/food">{{precio}}</ion-card-title>
                            </ion-card-header>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-content>
    </div>
</ion-app>