ion-grid,
ion-list {
    min-height: 100%;
}

ion-card,
ion-card-header {
    margin: 0px;
    padding: 0;
    border: 0px;
}

ion-card-header {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

img {
    width: 100%;
}

.category-slider {
    ion-slide {
        width: 150px;
        height: 100px;
        margin-right: 10px;
        margin-left: 0px;
        ion-col {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            h4 {
                color: #ffffff;
                background-color: rgba(0, 0, 0, 0.11);
                margin: 0;
            }
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
                top: 0;
                left: 0;
                z-index: -1;
                box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.16);
            }
        }
    }
}

ion-card {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

ion-slides {
    margin-top: 10px;
    margin-bottom: 10px;
}

ion-card-content {
    margin: 0;
    border: 0;
    padding: 0;
}