form {
    min-height: 100%;
}

ion-item {
    margin-top: 10px;
}

ion-card {
    margin: 10px;
    border: 0;
    padding: 0;
    min-height: 97%;
    position: relative;
}

footer {
    margin: 0;
    padding: 0;
    border: 0;
}